.benefits {
  background-image: 
  url(/home/krlfedya/Downloads/Pink/pink/source/img/iphone-screen-3.jpg),
  url(/home/krlfedya/Downloads/Pink/pink/source/img/iphone-3.png),
  url(/home/krlfedya/Downloads/Pink/pink/source/img/grey-background-benefits.svg);
  background-repeat: no-repeat;
  background-position: 50% calc(100% - 5px), 50% 115%, 0% 0%;
}

.benefits__tagline {
  margin: 0;
}