.contacts__map {
  min-height: 200px;
  background-image: url(/home/krlfedya/Downloads/Pink/pink/source/img/map-triangle.svg),
  url(/home/krlfedya/Downloads/Pink/pink/source/img/map.jpg);
  background-repeat: no-repeat;
  background-size: auto, cover;
  background-position: 0% -115%;
}
