.intro {
  background-color:#1D2631;
  background-image: 
  url(/home/krlfedya/Downloads/Pink/pink/source/img/screen.png),
  url(/home/krlfedya/Downloads/Pink/pink/source/img/phone.png),
  url(/home/krlfedya/Downloads/Pink/pink/source/img/back-mobile.jpg);
  background-repeat: no-repeat;
  background-position: 50% 22%, 20% 20%, 0% 0%;
}
